files/bspwm/
files/chameleon/
files/dconf/
files/go/
files/gtk-3.0/
files/gtk-4.0/
files/nwg-look/
files/procps/
files/pulse/
files/ranger/
files/spicetify/
files/spotify/
files/spotifyd/
files/sxhkd/
files/wal/
files/whatsapp-desktop/
files/xsettingsd/
files/autostart/
files/*.sh
files/environment.d/
files/htop/
files/*.conf
files/libreoffice/
files/menus/
files/nomacs/
files/*.ini
files/rpi/
files/systemd/

